.ava{
    width: 50px;
    border: 0.3px solid;
    border-color: #919183;
}
.buttonF{
    width: 50px;
    height: 25px;
}
.selectedPage{
    font-weight: bold;
    color: white;
}
div{
    color:#919183;
}