.ava{
    width: 50px;
    border: 0.3px solid;
    border-color: #919183;
}
.buttonF{
    width: 50px;
    height: 25px;
}
.selectedPage{
    font-weight: bold;
    color: white;
}
.selectedPage:hover{
    color: #262621;
    text-shadow: 0.5px 0 rgb(30, 115, 165), -0.5px 0 rgb(30, 115, 165), 0 0.5px rgb(30, 115, 165), 0 -0.5px rgb(30, 115, 165);
  }
.selectedPage:focus{
  color: #262621;
  text-shadow: 0.5px 0 rgb(30, 115, 165), -0.5px 0 rgb(30, 115, 165), 0 0.5px rgb(30, 115, 165), 0 -0.5px rgb(30, 115, 165);
}
div{
    color:#919183;
}
.userPage{
   color: red;
}